@{
	ViewData["Title"] = "Member";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<html>
<head>
	<script src="@Url.Content("~/tostr/toastr.min.js")"></script>
	<link href="@Url.Content("~/tostr/toastr.min.css")" rel="stylesheet" />
</head>
<body>
	<div class="container-fluid pt-4 px-4">
		<div class="col-12">
			<div class="bg-light rounded h-100 p-4">
				<div class="d-flex align-items-center justify-content-between mb-4">
					<h6 class="mb-0"><i class="fa fa-user"></i>&nbsp;Member Detals</h6>
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
						<i class="fa fa-plus"></i> Member
					</button>
				</div>
				<div class="table-responsive">
					<table class="table" id="dataTable">
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">Email</th>
								<th scope="col">Phone</th>
								<th scope="col">membership_date</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="modal" id="myModal">
		<div class="modal-dialog modal-dialog-centered" style="max-width: 70.333333%;">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">New Member</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>
				<div class="modal-body">
					<div class="col-md-12">
						<form class="row">
							<input type="hidden" id="member_id" value="0" name="member_id" />
							<div class="col-md-6 mb-2">
								<label>Name&nbsp;<label class="text-danger" id="lblname"></label></label>
								<input type="text" Id="name" name="name" class="form-control" />
							</div>
							<div class="col-md-6 mb-2">
								<label>Email&nbsp;<label class="text-danger" id="lblemail"></label></label>
								<input type="email" Id="email" name="email" class="form-control" />
							</div>
							<div class="col-md-6 mb-2">
								<label>Phone No&nbsp;<label class="text-danger" id="lblPhone"></label></label>
								<input type="number" Id="Phone" name="Phone" class="form-control" />
							</div>
							<div class="col-md-6 mb-2">
								<label>Membership Date&nbsp;<label class="text-danger" id="lblmembership_date"></label></label>
								<input type="date" Id="membership_date" name="membership_date" class="form-control" />
							</div>
							<div class="col-md-6 mt-3">
								<button type="button" id="Save" class="btn btn-primary text-white btn-lg"><i class="fa fa-save"></i>&nbsp;Save</button>&nbsp;
								<button type="button" onclick="Clearform()" class="btn btn-danger text-white btn-lg">Clear</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

<script>
	function Clearform(){
		$("#member_id").val("0");
		$("#name").val("");
		$("#email").val("");
		$("#Phone").val("");
	}
	$(document).ready(function(){
		$("#Save").click(function(){
			var Cnt = 0;
			Cnt = IsEmpty("name","lblname",Cnt);
			Cnt = IsEmpty("email","lblemail",Cnt);
			Cnt = IsEmpty("Phone","lblPhone",Cnt);
			if(Cnt == "0")
			{
				var requestdata = {
					"member_id":$("#member_id").val(),
					"name":$("#name").val(),
					"email":$("#email").val(),
					"Phone":$("#Phone").val(),
					"membership_date":$("#membership_date").val()
				}
				$("#Save").prop("disabled","true");
				$("#Save").html(`<i class="fa fa-spinner"></i>&nbsp;Plise Wate`);

				var path = "@Url.Content("~/api/Member/AddMember")";
				if($("#member_id").val() != "0")
				{
					path = "@Url.Content("~/api/Member/UpdateMember")";
				}
				$.ajax({
					url:path,
					contentType:"application/json",
					method:"post",
					data:JSON.stringify(requestdata),
					success:function(response){
					  console.log(response);
					  if(response.status == "Ok"){
						  console.log("Afjal",response.result);
						  $("#Save").removeAttr("disabled");
						  $("#Save").html(`<i class="fa fa-save"></i>&nbsp;Save`);
						  dt.ajax.reload(null, false);
						  $('#myModal').modal('hide');
						  SuccessAlert(response.result);
					  }
					  else{
						  $("#Save").removeAttr("disabled");
						  $("#Save").html(`<i class="fa fa-save"></i>&nbsp;Save`);
						  DangerAlert(response.result);
						  console.log("error",response.result);
					  }
					},
					error:function(error){
					  console.log(error);
					  $("#Save").removeAttr("disabled");
					  $("#Save").html(`<i class="fa fa-save"></i>&nbsp;Save`);

					}
				})
			}
		})
	})

	function Display(Id){
		$.ajax({
			url:"@Url.Content("~/api/Member/Member/")" + Id,
			method:"get",
			success:function(response){
				console.log(response);
				if(response.status == "Ok")
				{
					var data = response.result;
					$("#member_id").val(data.member_id);
					$("#name").val(data.name);
					$("#email").val(data.email);
					$("#Phone").val(data.phone);
				}
			},
			error:function(error){
				console.log(error);
			}
		})
	}
	var dt =$("#dataTable").DataTable({
		ajax:{
			url:"@Url.Content("~/api/Member/MemberList")",
			method:"get",
			dataSrc:'result'
		},
		columns:[
			{data:"name"},
			{data:"email"},
			{data:"phone"},
			{ data: "membership_date",
		            render: data => new Date(data).toLocaleDateString('en-GB')
         	},
			{data:"member_id"}
		],
		columnDefs:[
			{
				'targets':4,
				'searchable':false,
				'orderable':false,
				'className':'text-center',
				'render':function(data,type,full,meta){
					var Edit = `Display(${data})`
					return '<i class="fa fa-edit" data-bs-toggle="modal" data-bs-target="#myModal" style="color:blue;" onclick="'+ Edit +'"></i>';
				}
			}
		]
	})
</script>
<script>
	const today = new Date().toISOString().split('T')[0];
	document.getElementById('membership_date').value = today;
	document.getElementById('membership_date').min = today;
	document.getElementById('membership_date').max = today;
</script>

